<header>
    <nav class="navbar-nav bg-dark text-white fixed-top">
        <ul class="list-group list-group-horizontal justify-content-left">
            <img src="/img/weather.png" class="navbar-brand ml-2" style="width:40px;">
            <li class="nav-item nav-link mr-4  ml-2">
                <a class="text-white  " href="/">Index</a>
            </li>
            <li class="nav-item nav-link mr-4 ">
                <a class="text-white " href="/about">About</a>
            </li>
            <li class="nav-item nav-link mr-4 ">
                <a class="text-white " href="/help">Help</a>
            </li>
        </ul>
    </nav>
    <h1>{{title}}</h1>
</header>